
<div class="container">
    <h1>Add New Movie Timing:</h1>
    <h3>Movie Details:</h3>
    <p>Name: {{movie.name}}</p>
    <p>Price: {{movie.price | currency:'USD'}}</p>
    <p>Description: {{movie.description}}</p>

    <form action="" (ngSubmit)="addTiming(language.value, seats.valueAsNumber, time.value, date.value,location.value)">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Language</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #language>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Seats</span>
                    <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #seats>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Time (HH:MM:SS)</span>
                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #time>
                </div>
        
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Date (YYYY-mm-dd)</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #date>
                </div>
        
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Location</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #location>
                </div>
            </div>
            <div class="col">

            </div>
        </div>

        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
</div>