<div class="container">
    <h1>My Account:</h1>
    <div class="row">
        <div class="col-6">
            <h3 class="text-left">Account Details</h3>
            <ul class="list-group text-left">
                <li class="list-group-item">First Name:<strong>{{user.firstname}}</strong></li>
                <li class="list-group-item">Last Name: <strong>{{user.lastname}}</strong></li>
                <li class="list-group-item">Email: <strong>{{user.email}}</strong></li>
                <li class="list-group-item">Password: <strong>{{user.password}}</strong></li>
              </ul>
        </div>
        <div class="col-6 passbtn">
            <button type="button" class=" btn btn-outline-danger" (click)="resetpassword()">Reset Password</button>
        </div>
    </div>
        
</div>
<br>
<div class="container" *ngIf="!user.adminrights">
    <h3>Orders</h3>

    <div class="card" *ngFor="let o of user.orders;let i=index">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Order ID: {{o.orderid}}</h5>
                    <p class="card-text">Total Price: <strong>{{o.totalprice| currency:'USD'}}</strong></p>
                    
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Order Item ID</th>
                            <th scope="col">Movie Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Seats</th>
                            <th scope="col">Movie Time</th>
                            <th scope="col">Location</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ot of o.orderitems">
                                <th scope="row">{{ot.orderitemid}}</th>
                                <td>{{ot.movie.name}}</td>
                                <td>{{ot.movie.price | currency:'USD'}}</td>
                                <td>{{ot.seats}}</td>
                                <td>{{ot.movietiming.time | toTwelveHourTime: 'hh:mm A'}}</td>
                                <td>{{ot.movietiming.location}}</td>
                              </tr>
                        </tbody>
                      </table>
                   
                  </div>
            </div>
        </div>
    <br>
    </div>
    
</div>

<div class="container" *ngIf="user.adminrights">
    <h3> Admin Portal: </h3>
    <br>

    <h3>Movies</h3>
    <div class="card" *ngFor="let movie of movies">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Movie Title: {{movie.name}} | Movie ID: {{movie.movieid}}</h5>
                            <p class="card-text">Total Price: <strong>{{movie.price| currency:'USD'}}</strong></p>
                            <p>Description: {{movie.description}} </p>
                            <p>Runtime: {{movie.hours}}:{{movie.minutes}}</p>
                            <p>Rating: {{movie.rating}}</p>
                            <p>Release Date: {{movie.releasedate}}</p>
                            <p>PosterURL: {{movie.posterurl}}</p>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary moviebutton" (click)="updateMovie(movie)">Update Movie</button>
                            <button class="btn btn-danger moviebutton" (click)="deleteMovie(movie)">Delete Movie</button>
                            <button class="btn btn-success moviebutton" (click)="addTiming(movie)">Add Timing</button>
                        </div>
                    </div>
                    
                    
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Movie Timing ID</th>
                            <th scope="col">Time</th>
                            <th scope="col">Date</th>
                            <th scope="col">Language</th>
                            <th scope="col">Location</th>
                            <th scope="col">Seats</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let timing of movie.movietiming">
                                <th scope="row">{{timing.movietimingid}}</th>
                                <td>{{timing.time | toTwelveHourTime: 'hh:mm A'}}</td>
                                <td>{{timing.date}}</td>
                                <td>{{timing.language}}</td>
                                <td>{{timing.location}}</td>
                                <td>{{timing.seats}}</td>
                                <td><button class="btn btn-primary" (click)="updateTiming(timing)">Update Timing</button></td>
                                <td><button class="btn btn-danger" (click)="deleteTiming(timing)">Delete Timing</button></td>
                              </tr>
                        </tbody>
                      </table>
                   
                  </div>
            </div>
        </div>
    <br>
    </div>
      
</div>