
<div class="container">
    <br>

    <div class="row">
      <div class="col">
        <H3 (click)="getMovies()">Featured Movies</H3>
      </div>
    <div class="col">
      <!-- Example single danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Genres
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" *ngFor="let g of genres" (click)="filtergenre(g)">{{g}}</a></li>
        </ul>
      </div>
    </div>

      <div class="col">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm" >Search Movie</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #searchinput>
          <button class="btn btn-primary" (click)="searchmovie(searchinput.value)">Search</button>
        </div>
        
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col" *ngFor="let m of movies;let i=index">
                <div class="card text-white bg-black mb-3"  style="width: 18rem;" >
                    <img src="{{m.posterurl}}" class="card-img-top cardimg rounded" alt="...">
                    <div class="card-header">{{m.name}}</div>
                    <div class="card-body">
                      <!-- <div class="col" *ngFor="let g of m.moviegenre">
                        <h5 class="card-title" > {{g.genre}}</h5>
                      </div> -->
                      
                      <!-- <p class="card-text">{{m.description}}</p> -->
                      <p>{{m.hours}} HR {{m.minutes}} MIN | {{m.rating}}</p>
                      <p>Released {{m.releasedate}}</p>
                    </div>
                    <button type="button" class="btn btn-outline-danger"  (click)="gotoaboutmovie(m)">Get Tickets</button>
              </div>
        </div>
    </div>
    
    
</div>
<!-- <p>{{movies[0].name}}</p> -->