<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1 class="h3 mb-3 fw-normal">Change Password</h1>
        <form
          class="loginform"
          [formGroup]="passwordForm"
          (ngSubmit)="onSubmit(passwordForm)"
        >
          <!-- Email  -->
          <div class="col">
            <div class="form-group">
              <label for="password">New Password</label>
              <input
                type="password"
                class="form-control"
                name="password1"
                id="password1"
                formControlName="password1"
              />
              <small
                *ngIf="hasError('password1')"
                [class]="hasError('password1') ? 'error' : ''"
              >
                <div *ngIf="f['password1'].errors">
                  <span *ngIf="f['password1'].errors['required']"
                    >New Password is a required field</span
                  >
                  <span *ngIf="f['password1'].errors['minlength']"
                    >Password is at least 5 characters long</span
                  >
                  <span *ngIf="f['password1'].errors['maxlength']"
                    >Password is at most 16 characters long</span
                  >
                </div>
              </small>
            </div>
          </div>
          <br>
          <!-- Password Name  -->
          <div class="col">
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                name="password2"
                id="password2"
                formControlName="password2"
              />
              <small
                *ngIf="hasError('password2')"
                [class]="hasError('password2') ? 'error' : ''"
              >
                <div *ngIf="f['password2'].errors">
                  <span *ngIf="f['password2'].errors['required']"
                    >Confirmed Password is a required field</span
                  >
                  <span *ngIf="f['password2'].errors['minlength']"
                    >Password is at least 5 characters long</span
                  >
                  <span *ngIf="f['password2'].errors['maxlength']"
                    >Password is at most 16 characters long</span
                  >
                </div>
              </small>
            </div>
          </div>
          <small *ngIf="passwordnotequal"> 
            <span *ngIf="passwordnotequal" class="error">New Password and Confirmation Password does not match!</span>
          </small>
          <br>
          <div class="row">
            <div class="col">
              <a routerLink="/myaccount" type="button"  class="btn btn-primary">Go back</a>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-success float-right">Submit</button>
            </div>
          </div>
          
          
        </form>
      </div>
      <div class="col"></div>
      
    </div>
    
  </div>
  