
   
<div class="container mt-5 ">
    <h1 text-center>My Cart</h1>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Movie Name</th>
            <th scope="col">Ticket Price</th>
            <th scope="col">Seats</th>
            <th scope="col">Total Price</th>
            <th scope="col">Time</th>
            <th scope="col">Locatione</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let ci of user.cart.cartitems" >
                <th scope="row">{{ci.movie.name}}</th>
                <td>{{ci.movie.price | currency:'USD'}}</td>
                <td>{{ci.seats}}</td>
                <td>{{ci.price*ci.seats  | currency:'USD'}}</td>
                <td>{{ci.movietiming.time | toTwelveHourTime: "hh:mm A"}}</td>
                <td>{{ci.movietiming.location}}</td>
                <td>
                    <form>
                      <label for="quantity">Change Seats:</label>
                        <input class=quantitybox type="number" min="1" value="1" max={{ci.movietiming.seats}} id="quantity" name="quantity" #quantity>
                        <button class="btn btn-primary" (click)="updateSeats(quantity.value, ci.cartitemid)">Update</button>
                        <button class="btn btn-danger" (click)="onDelete(ci.cartitemid)">Delete</button>
                    </form>
                </td>
              </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <p>Total Price: {{user.cart.totalprice|currency:'USD'}}</p>
        </div>
        <div class="col">
          <button class="btn btn-outline-primary" (click)="buynow()">Buy Now</button>
        </div>
      </div>
</div>